@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-green: 46, 204, 113;   /* #2ecc71 */
  --gradient-blue: 52, 152, 219;    /* #3498db */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* This accounts for the fixed navbar */
}

body {
  background: linear-gradient(135deg, 
    rgba(var(--gradient-blue), 0.75) 0%,
    rgba(var(--gradient-green), 0.75) 100%
  ) !important;
  min-height: 100vh;
  color: #333;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}
